        <p-dialog [(visible)]="createSoinDialog" [style]="{width: '70vw'}"
                header="Soin" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Soin">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">Date soin<span style="color: red;">*</span></label>
                                            <p-calendar id="1"
                                                        placeholder="Date soin"  [(ngModel)]="selectedSoin.dateSoin"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validSoinDateSoin}"  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validSoinDateSoin'>DateSoin est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="2">Infirmier<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="infirmiers" [(ngModel)]="selectedSoin.infirmierVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="ref"
                                                    placeholder="Infirmier" [ngClass]="{'ng-invalid ng-dirty' : !validSoinInfirmier}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validSoinInfirmier'>Infirmier est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateinfirmier('infirmier')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="3">Soins prod<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Soins prod"
                                                   id="3" [(ngModel)]="selectedSoin.soinsProd"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validSoinSoinsProd}"  />
                                            <small class='p-error' *ngIf='!validSoinSoinsProd'>SoinsProd est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="4">Consigne</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Consigne"
                                                   id="4" [(ngModel)]="selectedSoin.consigne"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="5">Traitement<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="traitements" [(ngModel)]="selectedSoin.traitementVo"
                                                    id="5" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="dossierMedicaleRef"
                                                    placeholder="Traitement" [ngClass]="{'ng-invalid ng-dirty' : !validSoinTraitement}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validSoinTraitement'>Traitement est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatetraitement('traitement')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-infirmier-create-etudiant></app-infirmier-create-etudiant>
                    <app-traitement-create-etudiant></app-traitement-create-etudiant>


    </p-dialog>
