
        <p-dialog [(visible)]="editPatientContactDialog" [style]="{width: '70vw'}"
                header="Patient contact" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Patient contact">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="1">Ref</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Ref"
                                                   id="1" [(ngModel)]="selectedPatientContact.ref"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="2">Nom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Nom"
                                                   id="2" [(ngModel)]="selectedPatientContact.nom"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="3">Prenom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Prenom"
                                                   id="3" [(ngModel)]="selectedPatientContact.prenom"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="4">Relation</label>
                                            <p-dropdown [options]="relations" [(ngModel)]="selectedPatientContact.relationVo"
                                                    id="4" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Relation">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreaterelation('relation')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="5">Adresse</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Adresse"
                                                   id="5" [(ngModel)]="selectedPatientContact.adresse"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="6">Telephone</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Telephone"
                                                   id="6" [(ngModel)]="selectedPatientContact.telephone"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="7">Mail</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Mail"
                                                   id="7" [(ngModel)]="selectedPatientContact.mail"
                                                   />
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-relation-create-medecin></app-relation-create-medecin>



    </p-dialog>



