
<p-dialog [(visible)]="viewPatientDialog" [style]="{width: '70vw'}"
        header="Patient" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Patient">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="1">Cin</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Cin"  [(ngModel)]="selectedPatient.cin"
                                           id="1" [(ngModel)]="selectedPatient.cin"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-4">
                                    <label for="2">Nom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Nom"  [(ngModel)]="selectedPatient.nom"
                                           id="2" [(ngModel)]="selectedPatient.nom"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-4">
                                    <label for="3">Prenom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Prenom"  [(ngModel)]="selectedPatient.prenom"
                                           id="3" [(ngModel)]="selectedPatient.prenom"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-4">
                                    <label for="4">Date de naissance</label>
                                    <p-calendar id="4" [disabled]="true"
                                                placeholder="Date de naissance"  [(ngModel)]="selectedPatient.dateDeNaissance"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-4">
                                    <label for="5">Profession</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Profession"  [(ngModel)]="selectedPatient.profession"
                                           id="5" [(ngModel)]="selectedPatient.profession"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-4">
                                    <label for="6">Adresse</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Adresse"  [(ngModel)]="selectedPatient.adresse"
                                           id="6" [(ngModel)]="selectedPatient.adresse"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-4">
                                    <label for="7">Ville</label>
                                    <p-dropdown [options]="villes" [(ngModel)]="selectedPatient.villeVo"
                                            id="7" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Ville">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-4">
                                    <label for="8">Telephone</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Telephone"  [(ngModel)]="selectedPatient.telephone"
                                           id="8" [(ngModel)]="selectedPatient.telephone"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-4">
                                    <label for="9">Sexe</label>
                                    <p-dropdown [options]="sexes" [(ngModel)]="selectedPatient.sexeVo"
                                            id="9" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelle"
                                            placeholder="Sexe">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-ville-create-etudiant></app-ville-create-etudiant>
            <app-sexe-create-etudiant></app-sexe-create-etudiant>



</p-dialog>



