
<p-dialog [(visible)]="viewInfirmierDialog" [style]="{width: '70vw'}"
        header="Infirmier" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Infirmier">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Ref</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Ref"  [(ngModel)]="selectedInfirmier.ref"
                                           id="1" [(ngModel)]="selectedInfirmier.ref"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Nom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Nom"  [(ngModel)]="selectedInfirmier.nom"
                                           id="2" [(ngModel)]="selectedInfirmier.nom"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Prenom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Prenom"  [(ngModel)]="selectedInfirmier.prenom"
                                           id="3" [(ngModel)]="selectedInfirmier.prenom"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="4">Sexe</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Sexe"  [(ngModel)]="selectedInfirmier.sexe"
                                           id="4" [(ngModel)]="selectedInfirmier.sexe"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="5">Telephone</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Telephone"  [(ngModel)]="selectedInfirmier.telephone"
                                           id="5" [(ngModel)]="selectedInfirmier.telephone"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="6">Mail</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Mail"  [(ngModel)]="selectedInfirmier.mail"
                                           id="6" [(ngModel)]="selectedInfirmier.mail"
                                           autofocus>
                                </div>



                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>




</p-dialog>



