
        <p-dialog [(visible)]="editInfirmierDialog" [style]="{width: '70vw'}"
                header="Infirmier" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Infirmier">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">Ref</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Ref"
                                                   id="1" [(ngModel)]="selectedInfirmier.ref"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Nom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Nom"
                                                   id="2" [(ngModel)]="selectedInfirmier.nom"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="3">Prenom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Prenom"
                                                   id="3" [(ngModel)]="selectedInfirmier.prenom"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="4">Sexe</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Sexe"
                                                   id="4" [(ngModel)]="selectedInfirmier.sexe"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="5">Telephone</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Telephone"
                                                   id="5" [(ngModel)]="selectedInfirmier.telephone"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="6">Mail</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Mail"
                                                   id="6" [(ngModel)]="selectedInfirmier.mail"
                                                   />
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>




    </p-dialog>



