<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreatePatient('patient')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="1"
                                           type="text"  [(ngModel)]="searchPatient.cin">
                                    <label for="1">Cin</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="2"
                                           type="text"  [(ngModel)]="searchPatient.nom">
                                    <label for="2">Nom</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="3"
                                           type="text"  [(ngModel)]="searchPatient.prenom">
                                    <label for="3">Prenom</label>
                                </span>

                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchPatient.dateDeNaissanceMin"
                                    id="4-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="4-1">Date de naissance Min</label>
                        </span>

                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchPatient.dateDeNaissanceMax"
                                    id="4-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="4-2">Date de naissance Max</label>
                        </span>

                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="5"
                                           type="text"  [(ngModel)]="searchPatient.profession">
                                    <label for="5">Profession</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="6"
                                           type="text"  [(ngModel)]="searchPatient.adresse">
                                    <label for="6">Adresse</label>
                                </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="villes" [(ngModel)]="searchPatient.villeVo"
                                        id="7"
                                        [filter]="true" [showClear]="true"  placeholder="Ville"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="8"
                                           type="text"  [(ngModel)]="searchPatient.telephone">
                                    <label for="8">Telephone</label>
                                </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="sexes" [(ngModel)]="searchPatient.sexeVo"
                                        id="9"
                                        [filter]="true" [showClear]="true"  placeholder="Sexe"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="patients" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['cin', 'nom', 'prenom', 'dateDeNaissance', 'profession', 'adresse', 'libelle', 'telephone', 'libelle']" [(selection)]="selectedPatient"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Patients</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="cin">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Cin</span>
                                        <p-sortIcon field="cin"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="nom">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Nom</span>
                                        <p-sortIcon field="nom"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="prenom">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Prenom</span>
                                        <p-sortIcon field="prenom"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="dateDeNaissance">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Date de naissance</span>
                                        <p-sortIcon field="dateDeNaissance"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="profession">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Profession</span>
                                        <p-sortIcon field="profession"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="adresse">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Adresse</span>
                                        <p-sortIcon field="adresse"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="ville">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Ville</span>
                                        <p-sortIcon field="ville"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="telephone">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Telephone</span>
                                        <p-sortIcon field="telephone"></p-sortIcon>
                                    </div>
                                </th>
                                


                                <!-- 
                                <th pSortableColumn="sexe">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Sexe</span>
                                        <p-sortIcon field="sexe"></p-sortIcon>
                                    </div>
                                </th>
                                --> 


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-patient>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="patient"></p-tableCheckbox>
                        </td>
                            
                                 <td>{{patient.cin}}</td>
                            

                            
                                 <td>{{patient.nom}}</td>
                            

                            
                                 <td>{{patient.prenom}}</td>
                            

                            
                                <td>{{patient.dateDeNaissance | date:'dd-M-yyyy' }}</td>
                            

                            
                                 <td>{{patient.profession}}</td>
                            

                            
                                 <td>{{patient.adresse}}</td>
                            

                            
                                <td>{{patient.villeVo?.libelle}}</td>
                            

                            
                                 <td>{{patient.telephone}}</td>
                            

                             <!-- 
                                <td>{{patient.sexeVo?.libelle}}</td>
                             --> 


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editPatient(patient)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewPatient(patient)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deletePatient(patient)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicatePatient(patient)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{patients ? patients.length == 1 ? 'y a' : 'y a' : 'y a' }} {{patients ? patients.length : 0 }} {{patients ? patients.length == 1 ? 'patient' : 'patients' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-patient-create-etudiant></app-patient-create-etudiant>
        <app-patient-edit-etudiant></app-patient-edit-etudiant>
        <app-patient-view-etudiant></app-patient-view-etudiant>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
