        <p-dialog [(visible)]="createPatientDialog" [style]="{width: '70vw'}"
                header="Patient" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Patient">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="1">Cin<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Cin"
                                                   id="1" [(ngModel)]="selectedPatient.cin"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validPatientCin}"  />
                                            <small class='p-error' *ngIf='!validPatientCin'>Cin est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="2">Nom<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Nom"
                                                   id="2" [(ngModel)]="selectedPatient.nom"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validPatientNom}"  />
                                            <small class='p-error' *ngIf='!validPatientNom'>Nom est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="3">Prenom<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Prenom"
                                                   id="3" [(ngModel)]="selectedPatient.prenom"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validPatientPrenom}"  />
                                            <small class='p-error' *ngIf='!validPatientPrenom'>Prenom est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="4">Date de naissance<span style="color: red;">*</span></label>
                                            <p-calendar id="4"
                                                        placeholder="Date de naissance"  [(ngModel)]="selectedPatient.dateDeNaissance"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validPatientDateDeNaissance}"  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validPatientDateDeNaissance'>DateDeNaissance est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="5">Profession<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Profession"
                                                   id="5" [(ngModel)]="selectedPatient.profession"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validPatientProfession}"  />
                                            <small class='p-error' *ngIf='!validPatientProfession'>Profession est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="6">Adresse</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Adresse"
                                                   id="6" [(ngModel)]="selectedPatient.adresse"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="7">Ville<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="villes" [(ngModel)]="selectedPatient.villeVo"
                                                    id="7" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Ville" [ngClass]="{'ng-invalid ng-dirty' : !validPatientVille}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validPatientVille'>Ville est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateville('ville')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="8">Telephone</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Telephone"
                                                   id="8" [(ngModel)]="selectedPatient.telephone"
                                                     />
                                            
                                        </div>



                                        <div class="p-field p-col-11 p-md-3">
                                            <label for="9">Sexe<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="sexes" [(ngModel)]="selectedPatient.sexeVo"
                                                    id="9" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Sexe" [ngClass]="{'ng-invalid ng-dirty' : !validPatientSexe}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validPatientSexe'>Sexe est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatesexe('sexe')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-ville-create-chercheur></app-ville-create-chercheur>
                    <app-sexe-create-chercheur></app-sexe-create-chercheur>


    </p-dialog>
