        <p-dialog [(visible)]="createDossierMedicaleTagDialog" [style]="{width: '70vw'}"
                header="Dossier medicale tag" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Dossier medicale tag">
                        <div class="p-grid">

                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="1">Tag<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="tags" [(ngModel)]="selectedDossierMedicaleTag.tagVo"
                                                    id="1" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="reference"
                                                    placeholder="Tag" [ngClass]="{'ng-invalid ng-dirty' : !validDossierMedicaleTagTag}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validDossierMedicaleTagTag'>Tag est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatetag('tag')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="2">Dossier medicale<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="dossierMedicales" [(ngModel)]="selectedDossierMedicaleTag.dossierMedicaleVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="ref"
                                                    placeholder="Dossier medicale" [ngClass]="{'ng-invalid ng-dirty' : !validDossierMedicaleTagDossierMedicale}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validDossierMedicaleTagDossierMedicale'>DossierMedicale est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatedossierMedicale('dossierMedicale')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-tag-create-medecin></app-tag-create-medecin>
                    <app-dossier-medicale-create-medecin></app-dossier-medicale-create-medecin>


    </p-dialog>
