
        <p-dialog [(visible)]="editPatientDialog" [style]="{width: '70vw'}"
                header="Patient" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Patient">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="1">Cin</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Cin"
                                                   id="1" [(ngModel)]="selectedPatient.cin"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="2">Nom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Nom"
                                                   id="2" [(ngModel)]="selectedPatient.nom"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="3">Prenom</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Prenom"
                                                   id="3" [(ngModel)]="selectedPatient.prenom"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="4">Date de naissance</label>
                                            <p-calendar id="4"
                                                        placeholder="Date de naissance"  [(ngModel)]="selectedPatient.dateDeNaissance"
                                                    dateFormat="{{dateFormat}}"></p-calendar>
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="5">Profession</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Profession"
                                                   id="5" [(ngModel)]="selectedPatient.profession"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="6">Adresse</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Adresse"
                                                   id="6" [(ngModel)]="selectedPatient.adresse"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="7">Ville</label>
                                            <p-dropdown [options]="villes" [(ngModel)]="selectedPatient.villeVo"
                                                    id="7" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Ville">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateville('ville')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="8">Telephone</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Telephone"
                                                   id="8" [(ngModel)]="selectedPatient.telephone"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="9">Sexe</label>
                                            <p-dropdown [options]="sexes" [(ngModel)]="selectedPatient.sexeVo"
                                                    id="9" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Sexe">
                                            </p-dropdown>
                                        </div>
                                        <div class="p-field p-col-12 p-md-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatesexe('sexe')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-ville-create-chercheur></app-ville-create-chercheur>
                    <app-sexe-create-chercheur></app-sexe-create-chercheur>



    </p-dialog>



