
<p-dialog [(visible)]="viewMedecinDialog" [style]="{width: '70vw'}"
        header="Medecin" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Medecin">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="1">Numero matricule</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Numero matricule"  [(ngModel)]="selectedMedecin.numeroMatricule"
                                           id="1" [(ngModel)]="selectedMedecin.numeroMatricule"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="2">Email principale</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Email principale"  [(ngModel)]="selectedMedecin.emailPrincipale"
                                           id="2" [(ngModel)]="selectedMedecin.emailPrincipale"
                                           autofocus>
                                </div>



                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="3">Credentials non expired</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="3"  [disabled]="true" [(ngModel)]="selectedMedecin.credentialsNonExpired"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="4">Enabled</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="4"  [disabled]="true" [(ngModel)]="selectedMedecin.enabled"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="5">Account non expired</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="5"  [disabled]="true" [(ngModel)]="selectedMedecin.accountNonExpired"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="6">Account non locked</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="6"  [disabled]="true" [(ngModel)]="selectedMedecin.accountNonLocked"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="7">Password changed</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="7"  [disabled]="true" [(ngModel)]="selectedMedecin.passwordChanged"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="8">Created at</label>
                                    <p-calendar id="8" [disabled]="true"
                                                placeholder="Created at"  [(ngModel)]="selectedMedecin.createdAt"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="9">Updated at</label>
                                    <p-calendar id="9" [disabled]="true"
                                                placeholder="Updated at"  [(ngModel)]="selectedMedecin.updatedAt"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="10">Username</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Username"  [(ngModel)]="selectedMedecin.username"
                                           id="10" [(ngModel)]="selectedMedecin.username"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="11">Password</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Password"  [(ngModel)]="selectedMedecin.password"
                                           id="11" [(ngModel)]="selectedMedecin.password"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="12">Prenom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Prenom"  [(ngModel)]="selectedMedecin.prenom"
                                           id="12" [(ngModel)]="selectedMedecin.prenom"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="13">Nom</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Nom"  [(ngModel)]="selectedMedecin.nom"
                                           id="13" [(ngModel)]="selectedMedecin.nom"
                                           autofocus>
                                </div>



                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>




</p-dialog>



