        <p-dialog [(visible)]="createDiagnosticDialog" [style]="{width: '70vw'}"
                header="Diagnostic" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Diagnostic">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">Date diagnostic<span style="color: red;">*</span></label>
                                            <p-calendar id="1"
                                                        placeholder="Date diagnostic"  [(ngModel)]="selectedDiagnostic.dateDiagnostic"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validDiagnosticDateDiagnostic}"  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validDiagnosticDateDiagnostic'>DateDiagnostic est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Diag<span style="color: red;">*</span></label>
                                            <textarea id="2" pInputTextarea rows="5" cols="30"
                                                      placeholder="Diag"  [(ngModel)]="selectedDiagnostic.diag"
                                            [ngClass]="{'ng-invalid ng-dirty' : !validDiagnosticDiag}"  ></textarea>
                                            <small class='p-error' *ngIf='!validDiagnosticDiag'>Diag est obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="3">Dossier medicale<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="dossierMedicales" [(ngModel)]="selectedDiagnostic.dossierMedicaleVo"
                                                    id="3" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="ref"
                                                    placeholder="Dossier medicale" [ngClass]="{'ng-invalid ng-dirty' : !validDiagnosticDossierMedicale}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validDiagnosticDossierMedicale'>DossierMedicale est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatedossierMedicale('dossierMedicale')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-dossier-medicale-create-chercheur></app-dossier-medicale-create-chercheur>


    </p-dialog>
